<a href="https://colab.research.google.com/github/hardtelles/python_collections-listas-e-tuplas/blob/main/Introducao_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18



idades = [39, 30, 27, 18]

type(idades)

idades
print('qtd:{}'.format(len(idades))) 


print(idades[1])
print(idades[2])
print(idades[3])

if 27 in idades:
  print('27 sim')

if(30 in idades):
  print('30 sim')

idades.insert(0,20)
idades 

idades.extend([1,3])
idades

idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

idades_no_ano_que_vem_novo = [idade+1 for idade in idades if idade > 21]
idades_no_ano_que_vem_novo

qtd:4
30
27
18
27 sim
30 sim

[40, 31, 28]

Objetos Própios

In [ ]:
class ContaCorrente:

  def __init__(self,codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>codigo {} Saldo {}<<]".format(self.codigo, self.saldo)


def deposita_para_todas(contas):
    for conta in contas:
      conta.deposita(1000)    

conta_do_gui = ContaCorrente(15)
print(conta_do_gui)    

conta_do_gui.deposita(500)
print(conta_do_gui)

conta_da_dani = ContaCorrente(20)
print(conta_da_dani) 

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codigo 15 Saldo 0<<]
[>>codigo 15 Saldo 500<<]
[>>codigo 20 Saldo 0<<]
[>>codigo 15 Saldo 500<<] [>>codigo 20 Saldo 0<<]
[>>codigo 15 Saldo 1500<<] [>>codigo 20 Saldo 1000<<]

Herança e polimorfismo

[>>codigo 88 Saldo 0<<]

In [23]:
from abc import ABCMeta, abstractmethod
from functools import total_ordering

@total_ordering
class Conta(metaclass=ABCMeta):

  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo  

  @abstractmethod
  def passa_o_mes(self):
    pass  

  def __str__(self):
    return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)


#print(Conta(88))

class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2 

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *=  1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
   def passa_o_mes(self):
    self._saldo -= 2 

conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
#print(conta16) 

conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaCorrente(17)
conta17.deposita(1000)


conta18 = ContaInvestimento(18)
conta18.deposita(100)
conta18.passa_o_mes()
#print(conta18) 

contas = [conta16, conta17, conta18]

for conta in contas:
  conta.passa_o_mes() # duck typing
  #print(conta)

import array as arr
arr.array('d', [1, 3.3])  

#!pip install numpy

import numpy as np

numeros = np.array([1, 3.5])
numeros


conta_jairo = ContaCorrente(16)
conta_jairo.deposita(1000)
conta_jairo.passa_o_mes()
#print(conta_jairo) 

conta_jairo = ContaCorrente(16)
conta_jairo.deposita(200000)

conta_guilherme = ContaCorrente(17)
conta_guilherme.deposita(10000)


conta_pedro = ContaInvestimento(18)
conta_pedro.deposita(20000)
conta_pedro.passa_o_mes()

contas_novas = [conta_pedro, conta_jairo, conta_guilherme]

def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas_novas, key=extrai_saldo):
  print(conta)

from operator import attrgetter
for conta in sorted(contas_novas, key=attrgetter("_saldo")):
  print("forma2:",conta)



#quando implemento metodo __lt__ posso comparar direto
conta_jairo < conta_guilherme

for conta in sorted(contas_novas):
  print("forma3:",conta)

#dois ordenadores
for conta in sorted(contas_novas, key=attrgetter("_saldo", "_codigo")):
  print("forma4:",conta)    

#Total ordering

conta_jairo == conta_pedro
conta_jairo == conta_jairo

[>>codigo 17 Saldo 10000<<]
[>>codigo 18 Saldo 19998<<]
[>>codigo 16 Saldo 200000<<]
forma2: [>>codigo 17 Saldo 10000<<]
forma2: [>>codigo 18 Saldo 19998<<]
forma2: [>>codigo 16 Saldo 200000<<]
forma3: [>>codigo 17 Saldo 10000<<]
forma3: [>>codigo 18 Saldo 19998<<]
forma3: [>>codigo 16 Saldo 200000<<]
forma4: [>>codigo 17 Saldo 10000<<]
forma4: [>>codigo 18 Saldo 19998<<]
forma4: [>>codigo 16 Saldo 200000<<]

True

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)  

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo  

conta1 = ContaCorrente(37)
print(conta1)

conta2 = ContaSalario(37)
print(conta2)

conta1 == conta2

#contas = [conta2]

#conta1 in contas

[>>codigo 37 Saldo 0<<]
[>>Codigo 37 Saldo 0<<]

False

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

enumerate(idades)

list(range(len(idades)))

list(enumerate(idades))

for indice, idade in enumerate(idades):
  print("indice:", indice, "valor:" , idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37
indice: 0 valor: 15
indice: 1 valor: 87
indice: 2 valor: 32
indice: 3 valor: 65
indice: 4 valor: 56
indice: 5 valor: 32
indice: 6 valor: 49
indice: 7 valor: 37

In [ ]:
usuarios = [
    ("guilherme", 37, 1981),
    ("jairo", 23, 1982),
    ("Paulo", 45, 1985)
]

for nome, idade, nascimento in usuarios: # já desempacotando
  print(nome)

for nome, _, _ in usuarios: # já desempacotando
  print(nome)

guilherme
jairo
Paulo
guilherme
jairo
Paulo

In [4]:
idades = [39, 30, 27, 18]

print(idades)
print(sorted(idades, reverse=True))
print(list(reversed(idades)))
print(list(reversed(sorted(idades))))
idades.sort()
print(idades)


15 < 32

nome = ["Jairo", "Guilherme",  "Paulo"]
sorted(nome)

[39, 30, 27, 18]
[39, 30, 27, 18]
[18, 27, 30, 39]
[39, 30, 27, 18]
[18, 27, 30, 39]

NameError: ignored